/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Color Variables */
:root {
	/* Neutral Colors */
	--gray-50: hsl(0, 0%, 98%); /* Background color */
	--gray-500: hsl(0, 0%, 41%); /* Medium gray for text */
	--gray-950: hsl(0, 0%, 8%); /* Dark gray for headings */

	--background: var(--gray-50);
	--text-medium: var(--gray-500);
	--text-dark: var(--gray-950);
	--white: white;
}

body {
	font-family: "Epilogue", sans-serif;
	font-weight: 500;
	font-size: 18px;
	background-color: var(--background);
	color: var(--text-dark);

	min-height: 100vh;
	line-height: 1.5;
	padding: 30px;
}

/* ===== container ===== */

/* Main container to center content */
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 40px;
	width: 100%;
	border: 1px solid red;
}

/* ===== NAVIGATION STYLING ===== */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.logo {
	font-size: 32px;
	font-weight: 700;
	color: var(--text-dark);
	text-decoration: none;
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 40px;
	list-style: none;
	margin-left: 50px;
	flex-grow: 1;
}

.nav-item {
	position: relative;
}

.nav-link {
	color: var(--text-medium);
	text-decoration: none;
	font-weight: 500;

	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 0;

	transition: color 0.3s ease;
}

.nav-link:hover {
	color: var(--text-dark);
}

.user-buttons {
	display: flex;
	align-items: center;
	gap: 30px;
}

.login {
	color: var(--text-medium);
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
}

.login:hover {
	color: var(--text-dark);
}

.register {
	color: var(--text-medium);
	text-decoration: none;
	font-weight: 500;
	border: 2px solid var(--text-medium);
	padding: 12px 24px;
	border-radius: 14px;
	transition: all 0.3s ease;
}

.register:hover {
	color: var(--text-dark);
	border-color: var(--text-dark);
}
